body{
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
#container{
    width: 90%;
    height: auto;
/*    border: 1px solid grey;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#brand{
/*    float: left;*/
    flex: 50%;
/*    min-width: 0px;*/
    }
#header{
    display: flex;
    flex-wrap: wrap;
/*    height: 20px;*/
    padding: 10px 0px;
}
h1 a{
    font-size: 50px;
    color: #196be5;
    font-weight: 100;
    text-decoration: none;
}
#searchbox {
/*    float: right;*/
    flex: 50%;
    background: linear-gradient(#000000, #9df673);
    background: -webkit-linear-gradient(#000000, #9df673);
    background: -o-linear-gradient(#000000, #9df673);
    background: -moz-linear-gradient(#000000, #9df673);
    background: -ms-linear-gradient(#000000, #9df673);
    min-width: 400px;
/*    height: 100px;*/
    padding: 20px;
/*    margin-top: 20px;   */
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-right: auto;
}
.text {
    float: left;
    width: 220px;
    height: 20px;
    padding: 4px 4px;
    font-size: 17px;
    color: darkorange; 
    font-weight: bold;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid #3dfaf3;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: auto;
}
.submit { 
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: orchid;
    font-size: 12px;
    margin-top: 17px;
    margin-right: auto;
    height: 25px;
/*    padding-bottom: 2px;*/
}
.clear{
    clear: both;    
}
#menu {
    height: auto;
    background: linear-gradient(#f2d726,#cf9f39);
    background: -webkit-linear-gradient(#f2d726,#cf9f39);
    background: -o-linear-gradient(#f2d726,#cf9f39);
    background: -moz-linear-gradient(#f2d726,#cf9f39);
    background: -ms-linear-gradient(#f2d726,#cf9f39);
    padding: 17px 10px;
    display: flex;
    flex-wrap: wrap;
}
#menu a{
    padding: 15px 10px 17px 190px ;
    height: 50px;
/*    border-right: 1px solid black;*/
    font-size: 20px;
/*    padding-top:15px;*/
}
#menu a:nth-child(1){
    border-right: 1px solid black;
    
    padding:15px 125px 5px 100px;
}
#menu a:nth-child(2){
    border-right: 1px solid black;
    padding:15px 125px 5px 120px;
}
#menu a:nth-child(3){
    border-right: 1px solid black;
    padding:15px 125px 5px 120px;
}
#menu a:nth-child(4){
    border-right: 1px solid black;
    padding:15px 120px 5px 120px;
    align-content: center;
}
#menu a:nth-child(5){
    border-right: noborder;
    padding:15px 110px 5px 110px;
    align-content: center;
}

#menu a:hover, #menu a:active{
    font-size: 22px;
    font-weight: bold;
    color: #176ef1;
/*    padding: 20px;*/
}

/*small screens vertical menu*/
@media all and (max-width: 650px){
    #searchbox{
/*        margin-right: 20px;*/
        min-width: 300px;
/*        margin: auto;*/
    }
    .text{
        min-width: 100px;
    }
    .submit{
        
    }
    #menu {
    flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
/*        align-self: center;*/
        align-items: center;
    }
    #menu a:nth-child(1){
        border-right: none;
/*        padding-right: 10px;*/
    }
    #menu a:nth-child(2){
        border-right: none;
        padding-right: 10px;
        padding-left: 0px;
    }
    #menu a:nth-child(3){
        border-right: none;
        padding-right: 10px;
        padding-left: 0px;
    }
    #menu a:nth-child(4){
        border-right: none;
/*        padding-right: 10px;*/
        padding-left: 105px;
    }
    #menu a:nth-child(5){
        border-right: none;
        padding: 8px 70px 2px 60px;
    }
    
}
#introduction{
/*
    display: flex;
    flex:1;
*/
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -o-linear-gradient(#E5F2BB, #B7E952);
    background: -ms-linear-gradient(#E5F2BB, #B7E952);
/*    height: 230px;*/
    padding: 25px;
    margin: 20px 0px;
}
#introduction h3{
    display: flex;
    flex: 1;
    font-size: 44px;
    color: #316901;
    font-weight: normal;
}
#introduction p{
    display: flex;
    flex: 1;
    font-size: 25px;
    color: #316901;
    text-align: justify;
}
/*sidebars*/
.sidebars{
    display: flex;
    flex-wrap: wrap;
}
.sidewrapper{
    padding: 5px;
    flex: 50%;
}
.sidebar{
/*
    height: 480px;
    width: 650px;
*/
    border: 1px solid #316901;
    border-radius: 20px;
    min-width: 300px;
    height: 100%;
    width: 100%;
/*    flex: 50%;*/
}
/*
#leftsidebar{
    float: left;
    font-size: 20px;
}
#rightsidebar{
    float: right;
}
*/
#leftsidebar h3{
    padding: 10px 20px;
    font-size: 24px;
    color: #196be5;
}
#rightsidebar h3{
    padding: 10px 20px;
    font-size: 24px;
    color: #196be5;
}

#leftsidebar ul li a{ 
     color: #c10094;
    text-decoration: none;
    padding: 30px;
    font-size: 19px;
}
#leftsidebar ul li a:hover{
    font-size: 24px;
    color: #4300c1;
}
#leftsidebar ul li { 
     list-style: url(images/arrows.png);
    padding-left: 2px;
}
#rightsidebar ul li {
    list-style:url(images/arrows.png);
    font-size: 19px;
}
#rightsidebar ul li a{
    text-decoration: none;
    color: #c10094;
    padding: 30px;
    font-size: 19px;
}
#rightsidebar ul li a:hover{
    font-size: 24px;
}
.sidebar ul li a{
    -webkit-transition: font-size 0.1s ease;
    -o-transition: font-size 0.1s ease;
    -moz-transition: font-size 0.1s ease;
    -ms-transition: font-size 0.1s ease;
    transition: font-size 0.1s ease;
}
.footer{
    height: 60px;
    background: linear-gradient(#f2d726,#cf9f39);
    background: -ms-linear-gradient(#f2d726,#cf9f39);
    background: -o-linear-gradient(#f2d726,#cf9f39);
    background: -webkit-linear-gradient(#f2d726,#cf9f39);
    background: -moz-linear-gradient(#f2d726,#cf9f39);
    padding: 5px 30px 10px 05px;
/*    font-size: 17px;*/
    margin-top: auto;
}
